{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}


{% block extra_title %}{% if LANGUAGE_CODE == 'en' %}{{page.seo.title}}{% else %}{{page.seo.title_no}}{% endif %}{% endblock %}

{% block extra_meta %}
{% if LANGUAGE_CODE == 'en' %}
<meta name="title" content="{{page.seo.title}}" />
<meta name="description" content="{{page.seo.description}}" />
<meta name="keywords" content="{{page.seo.keywords}}" />
<meta property="og:title" content="{{page.seo.title}}" />
<meta property="og:description" content="{{page.seo.description}}" />
<meta property="og:url" content="{{request.build_absolute_uri}}" />
<meta property="og:locale" content="en_UK" />


{% else %}
<meta name="title" content="{{page.seo.title_no}}" />
<meta name="description" content="{{page.seo.description_no}}" />
<meta name="keywords" content="{{page.seo.keywords_no}}" />
<meta property="og:title" content="{{page.seo.title_no}}" />
<meta property="og:description" content="{{page.seo.description_no}}" />
<meta property="og:url" content="{{request.build_absolute_uri}}" />
<meta property="og:locale" content="no_NO" />
{% endif %}

{% if page.seo.image %}
<meta property="og:image" content="{{request.build_absolute_uri}}{{page.seo.image.url}}" />
{% else %}
<meta property="og:image" content="{{request.build_absolute_uri}}{% static 'images/og-image.png' %}" />
{% endif %}
{% endblock %}

{% block content %}
{% for section in sections %}
<div class="masthead d-flex align-items-center justify-content-center flex-column">
  <div class="overlay" id="windows">
    <div class="text-center masthead-content min-vw-100 p-2">
      <h1 class="my-0 text-nowrap text-uppercase heading">
        TATTOO SK <br>
        Workshop
      </h1>
      <h2 class="text-uppercase stretch">
        {% if LANGUAGE_CODE == 'en' %}{{section.subtitle}}{% else %}{{section.subtitle_no}}{% endif %}
      </h2>
    </div>
  </div>
  <div id="videoContainer">
    <video playsinline="playsinline" muted="muted" loop="loop" id="video" autoplay="autoplay">
      <source src="{% static 'video/video.mp4' type='video/mp4' %}">
      <source src="{% static 'video/video.webm' type='video/webm' %}">
    </video>
  </div>
  <div class="social px-2">
    {% include 'includes/social.html' %}
  </div>
</div>
{% endfor %}
{% endblock %}

{% block extra_js %}
<script>
  $(document).ready(function () {
     if ($(".masthead")[0]) {
      $('#video').get(0).play();
     }
  });
</script>
<script defer src="{% static 'js/stretchtext.js' %}"></script>
{% endblock %}
