{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block extra_meta %}
<meta name="description" content="{% blocktranslate trimmed %}Tattoo studio in Fetveien, Fetsund, Norway. We are open 7 days a week! Free parking is available! Contact + 47 462 53 760 info@tattooskworkshop.no{% endblocktranslate %}" />
<link rel="alternate" hreflang="en" href="https://www.tattooskworkshop.no/en/about/"/>
<link rel="alternate" hreflang="no" href="https://www.tattooskworkshop.no/about/"/>
{% endblock %}

{% block extra_title %}{% translate "About Tattoo SK Workshop | Tattoo studio near Oslo" %}{% endblock %}
{% block nav %}
<a href="{{request.META.HTTP_REFERER}}"><i class="fas fa-chevron-left"></i></a>
{% endblock %}

{% block content %}

<main id="workshop" style="max-width:1920px;" class="page_container align-self-center col-12">

    <div class="col text-center">
        <h1 class="text-light page_heading text-uppercase display-3">{% translate "About Us" %}</h1>
    </div>
    {% include 'includes/about.html' %}
    <div class="gradient-line">
    </div>
    {% include 'includes/andrej.html' %}
    <div class="gradient-line">
    </div>
    {% include 'includes/jane.html' %}
</main>
{% endblock %}