{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block extra_meta %}
{% if LANGUAGE_CODE == "en" %}
<meta name="description"
    content="Tattoo studio Fetsund. Free Car Park. Tel: + 47 46253760 Address: Fetveien 467, 1900 Fetsund, Norway. Email: info@tattooskworkshop.no">
{% else %}

<meta name="description"
    content="Tattoo studioet ligger 25 minutter fra Oslo. Gratis parkeringsplass tilgjengelig rett utenfor døren. Tel: + 47 46253760 Address: Fetveien 467, 1900 Fetsund.">
{% endif %}
{% endblock %}
{% block extra_title %}Om oss | {% endblock %}
{% block nav %}
<a href="{{request.META.HTTP_REFERER}}"><i class="fas fa-chevron-left"></i></a>
{% endblock %}

{% block content %}

<main style="max-width:1920px;" class="page_container align-self-center col-12">

    <div class="col text-center">
        <h1 class="text-light text-uppercase">{% translate "Workshop" %}</h1>
    </div>
    {% include 'includes/about.html' %}
    {% include 'includes/andrej.html' %}
    {% include 'includes/jane.html' %}
</main>
{% endblock %}