{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}


{% block extra_title %}{% translate "Prices - Tatoo SK Workshop | Gray wash tattoo tattoo Tattoos Fetsund" %}{% endblock %}
{% block extra_meta %}
<meta name="description" content="{% blocktranslate trimmed %}Price list for tattoos at Tatoo SK Workshop. We welcome you to our studio in Fetsund. Get in touch with us for more information.{% endblocktranslate %}">
{% endblock %}

{% block nav %}
<a href="{{request.META.HTTP_REFERER}}"><i class="fas fa-chevron-left"></i></a>
{% endblock %}

{% block content %}

<div class="page_container pt-0 pb-4">

    <div class="col text-center">
        <h1 class="text-light h1 page_heading text-uppercase display-4">{% translate 'Price list' %}</h1>
    </div>

    <main class="text-white col-12 col-lg-8 mx-auto d-flex flex-column gap-4">

        <div class="text-white col-12 text_container px-3 px-sm-4">
            {% include 'includes/social.html' %}
        </div>

        <div class="gradient-line"></div>
            <article class="text_container px-3 px-sm-4 rounded-3">
            <p class="w-100">{% translate 'Consultation' %}<span class="float-end">{% translate 'FREE' %}</span></p> 
       
            <p class="w-100">{% translate 'Minimum price' %}<span class="float-end"> 1000 NOK</span></p>
            
            <p class="w-100">{% translate 'Digital sketch' %}<span class="float-end"> 1000 NOK</span></p>
            </article>
            <article class="text_container px-3 px-sm-4 rounded-3">
            <p>{% blocktranslate trimmed %}The price depends on the size of the tattoo, please fill out the form to get a price.{% endblocktranslate %}</p>
            <p>{% blocktranslate trimmed %}When booking an appointment, you will have to pay a deposit of 500 NOK,
                This will include in the sum when your tattoo is finished.{% endblocktranslate %}</p>
            </article>
            <article class="text_container px-3 px-sm-4 rounded-3">
            <p class="text-danger">{% blocktranslate trimmed %}We are a "cashless" studio. We accept payments with
                VIPPS and cards.{% endblocktranslate %}</p>
            <p class="text-danger ">{% blocktranslate trimmed %}Free cancellation is made 48 hours before an
                appointment otherwise the deposit will not be refunded.{% endblocktranslate %}</p>
        </article>
    </main>
</div>


{% endblock %}