{% extends 'email/base.html' %}
{% load i18n %}

{% block content %}
<table width="640" cellspacing="0" cellpadding="0" border="0" align="center" style="max-width:640px; width:100%;">
  <tr>
    <td align="left" valign="top" style="padding:10px;">
      {% block salutation %}
      <h3>{{subject}}</h3>
      {% endblock salutation %}
      <h4>
        Contact Details:
      </h4>
      Email: {{ email }} <br />
      Phone: {{ phone }}
      <h4>
        Message:
      </h4>
      <p>{{message}}</p>
    </td>
  </tr>
</table>
{% endblock %}
