{% extends 'email/base.html' %}
{% load i18n %}

{% block content %}

<table width="640" cellspacing="0" cellpadding="0" border="0" align="center"
  style="max-width:640px; width:100%;">
  <tr>
    <td align="left" valign="top" style="padding:10px;">
      <h3 style="color:#345a6d;">{% blocktrans %}Thank you for your message{% endblocktrans %}</h3>
      <p>
        {% block salutation %}
        <p><strong>{% trans 'Dear ' %} {{ name }}</strong></p>
        {% endblock salutation %}
        {% if complaint %}
        {% blocktrans %}We have received your complaint and will get back to you as soon as
        possible.{% endblocktrans %}
        {% else %}
        {% blocktrans %}We have received your message and will get back to you as soon as
        possible.{% endblocktrans %}
        {% endif %}
      </p>

      <p>{% trans 'Yours sincerely' %}<br>
        {% blocktrans %}The Tattoo Sk Workshop team{% endblocktrans %}
      </p>
    </td>
  </tr>
</table>


{% endblock %}
