{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block extra_title %}{% translate "Tattoo aftercare - Tattoo SK Workshop | Realism and black and grey tattoos" %}{% endblock %}
{% block extra_meta %}
<meta name="description" content="{% blocktranslate trimmed %}Out top priority is to provide you with the best tattoo aftercare possible. We will provide you with all the information you need to take care of your tattoo.{% endblocktranslate %}">
{% endblock %}

{% block nav %}
<a href="#" class="back" aria-label="Return back to previous page"><i class="fa-solid fa-angles-left"></i></a>
{% endblock %}

{% block content %}
<div class="page_container pt-0 pb-4">
    <div class="row ">
        <div class="col text-center ">
            <h1 class="text-light h1 text-uppercase  display-4">{% translate 'Aftercare' %}</h1>
        </div>
    </div>
    <main class="col-12 col-lg-8 mx-auto d-flex flex-column gap-4 text-white">
        <div class=" text-white col-12 text_container px-3 px-sm-4 rounded-3">
            {% include 'includes/social.html' %}
        </div>
        <div class="gradient-line"></div>
        <article class="text_container px-3 px-sm-4 rounded-3">
            <div class="col-12 text-light text-uppercase fw-normal">
                <h4  class="text-light fw-normal">{% translate 'Which cream should I use?' %}</h4>
            </div>
            <div class="col-12">
                <p>{% blocktranslate trimmed %}We recommend to use Bepanthen Sensi Calm cream (not salve). Its not to sticky to the clothes.
                    But if you don’t have it - salve also is good. Or you can use the cream from our studio.
                    Nothing more is acceptable.{% endblocktranslate %}</p>
            </div>
        </article>
        <article class="text_container px-3 px-sm-4 rounded-3">
            <div class="col-12 text-light text-uppercase fw-normal">
                <h4  class="text-light fw-normal">{% translate 'How to take care of my fresh tattoo?' %}</h4>
            </div>
            <div class="col-12">
                <p>{% blocktranslate trimmed %}You keep the plastic film for 2 days. After 2 days remove the plastic film, wash
                    tattoo well with cool water and soap (soap with no colour no perfume). Let the tattoo dry
                    itself or gently blot it with a towel. Put the cream on, with very thin layer. Repeat that
                    combination 3-4 times a day. After one week from plastic film removed u can use the cream
                    1-2 times a day. When you see the tattoo is dry, put cream on. NECESSARY: to moisturise
                    tattoo to avoid crusts.{% endblocktranslate %}</p>
            </div>
        </article>
        <article class="text_container px-3 px-sm-4 rounded-3">
            <div class="col-12 text-light text-uppercase fw-normal">
                <h4  class="text-light fw-normal">{% translate 'If under the plastic film is a lot of liquid?' %}</h4>
            </div>
            <div class="col-12">
                <p>{% blocktranslate trimmed %}If you see plastic film falling off (the tattoo is not covered with film) or its a
                    lot of liquid under, just remove it. Don’t need to wait 5 days. Remove the plastic film,
                    wash your tattoo and use the cream.{% endblocktranslate %}</p>
            </div>
        </article>
        <article class="text_container px-3 px-sm-4 rounded-3">
            <div class="col-12 text-light text-uppercase fw-normal">
                <h4  class="text-light fw-normal">{% translate 'Can I do training?' %}</h4>
            </div>
            <div class="col-12">
                <p>{% blocktranslate trimmed %}We not recommend to train at all during the plastic film is on. During the
                    training tattooed place will sweat too and you will get a lot of bubbles, which means
                    plastic film has to be removed. It will cause burning feeling during the process and tattoo
                    can be damaged.{% endblocktranslate %}</p>
            </div>
        </article>
        <article class="text_container px-3 px-sm-4 rounded-3">
            <div class="col-12 text-light text-uppercase fw-normal">
                <h4  class="text-light fw-normal">{% translate 'Can I go to the shower?' %}</h4>
            </div>
            <div class="col-12">
                <p>{% blocktranslate trimmed %}Yes, you can do all your routine as normal.{% endblocktranslate %}</p>
            </div>
        </article>
        <article class="text_container px-3 px-sm-4 rounded-3">
            <div class="col-12 text-light text-uppercase fw-normal">
                <h4 class="text-light fw-normal">{% translate 'Can I go to solarium (take a sun) or sauna?' %}</h4>
            </div>
            <div class="col-12">
                <p>{% blocktranslate trimmed %}Sauna is strictly forbidden! Till recovery process is finished. Solarium is not
                    aloud for two weeks, later you must cover your tattoo with some cotton material till the
                    recovery process finished. Further use the sun protection minimum plus 50 SPF for whole your
                    life (same on the sun).{% endblocktranslate %}</p>
            </div>
        </article>
    </main>
</div>
{% endblock %}