{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block nav %}
<a href="{{request.META.HTTP_REFERER|escape}}"><i class="fas fa-chevron-left"></i></a>
{% endblock %}

{% block content %}


<div class="page_container col-12">

  <div class="col text-center ">
    <h1 class="text-light h1 text-uppercase">faq</h1>
  </div>


  <main class="col-12 col-lg-8 mx-auto d-flex flex-column gap-4 text-white">

    <div class=" text-white col-12 text_container p-3 p-sm-4">
      <h3 class="text-uppercase p-2 text-white">Tattoo studio Fetsund:</h3>
      <div class="mb-3">
        <span>Adresse: Fetveien 467, 1900 Fetsund, Norge</span> </br>
        <span>Email: info@tattooskworkshop.no</span> </br>
        <span>Mobil tlf: +4746253760</span> <br>
      </div>
      {% include 'includes/social.html' %}
    </div>

    <div class="col-12 col-md-8 my-3 mx-auto text-center ">
      {% if LANGUAGE_CODE == "en" %}
      <div class="accordion accordion-flush col-12 mx-auto px-3 " id="accordionFlushExample mx-2">

        {% for item in items %}
        {% if item.lang == "en" %}
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="btn text-light w-100 mb-2 font collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush{{ forloop.counter }}" aria-expanded="false"
              aria-controls="flush-{{ forloop.counter }}">
              {{ item.name}}
            </button>
          </h2>
          <div id="flush{{ forloop.counter }}" class="accordion-collapse collapse"
            aria-labelledby="flush-{{ item.name }}" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body font w-auto p-2">{{ item.description }}</div>
          </div>
        </div>
        {% endif %}
        {% endfor %}

      </div>
      {% else %}

      <div class="accordion accordion-flush col-12 mx-auto px-3 " id="accordionFlushExample mx-2">
        {% for item in items %}
        {% if item.lang == "nb" %}
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="btn text-light w-100 mb-2 font collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush{{ forloop.counter }}" aria-expanded="false"
              aria-controls="flush-{{ forloop.counter }}">
              {{ item.name}}
            </button>
          </h2>
          <div id="flush{{ forloop.counter }}" class="accordion-collapse collapse"
            aria-labelledby="flush-{{ item.name }}" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body font w-auto p-2">{{ item.description }}</div>
          </div>
        </div>
        {% endif %}
        {% endfor %}

      </div>
      {% endif %}
  </main>
</div>


{% endblock %}