/* CSS HEX */
root {
  --eerie-black: #161C1Fff;
  --midnight-green-eagle-green: #245966ff;
  --columbia-blue: #B0CCD7ff;
  --white: #FDFDFDff;
  --ming: #446F78ff;

  /* SCSS RGB */
  --eerie-black-rgb: rgba(22, 28, 31, 1);
  --midnight-green-eagle-green-rgb: rgba(36, 89, 102, 1);
  --columbia-blue-rgb: rgba(176, 204, 215, 1);
  --white-rgb: rgba(253, 253, 253, 1);
  --ming-rgb: rgba(68, 111, 120, 1);

  /* SCSS Gradient */
  --gradient-top: linear-gradient(0deg, #161C1Fff, #245966ff, rgb(85, 173, 208) #FDFDFDff, #446F78ff);
  --gradient-right: linear-gradient(90deg, #161C1Fff, #245966ff, rgb(85, 173, 208) #FDFDFDff, #446F78ff);
  --gradient-bottom: linear-gradient(180deg, #161C1Fff, #245966ff, rgb(85, 173, 208), #FDFDFDff, #446F78ff);
  --gradient-left: linear-gradient(270deg, #161C1Fff, #245966ff, rgb(85, 173, 208) #FDFDFDff, #446F78ff);
  --gradient-top-right: linear-gradient(45deg, #161C1Fff, #245966ff, rgb(85, 173, 208) #FDFDFDff, #446F78ff);
  --gradient-bottom-right: linear-gradient(135deg, #161C1Fff, #245966ff, rgb(85, 173, 208) #FDFDFDff, #446F78ff);
  --gradient-top-left: linear-gradient(225deg, #161C1Fff, #245966ff, rgb(85, 173, 208) #FDFDFDff, #446F78ff);
  --gradient-bottom-left: linear-gradient(315deg, #161C1Fff, #245966ff, rgb(85, 173, 208) #FDFDFDff, #446F78ff);
  --gradient-radial: radial-gradient(#161C1Fff, #245966ff, rgb(85, 173, 208) #FDFDFDff, #446F78ff);
}
