<div id="landing_social" class="social card_home d-flex flex-row align-self-center justify-content-between 
text-uppercase ">

    <a class="mx-2 " href="https://www.facebook.com/tattooskworkshop" title="Facebook" target="blank"
        rel="noopener noreferrer"><i class="fab fa-facebook"></i></a>
    <a class="mx-2 " href="https://www.instagram.com/tattooskworkshop" title="Instagram" target="blank"
        rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
    <a class="mx-2" data-bs-toggle="offcanvas" href="#contact" role="button" aria-controls="contact"
        data-bs-toggle="tooltip" data-bs-placement="top" title="Contact Us"><i class="far fa-envelope"></i></a>
    <a class="mx-2" href="{% url 'map' %}"><i class="fas fa-street-view"></i></a>
    <a class="mx-2 " href="tel:+4746253760"><i class="fas fa-phone" data-bs-toggle="tooltip" data-bs-placement="top"
            title="Call +4746253760"></i></a>

</div>