<!-- Name input-->
{% load i18n %}
{% load static %}

<form id="form" class="needs-validation d-flex flex-column justify-content-around align-items-center"
  action="{% url 'send_email' %}" method="POST" class="my-3" enctype=multipart/form-data novalidate>
  {% csrf_token %}

  <input id="subject" type="hidden" name="subject" value="">

  <div class="form-floating mb-3 needs-validation">
    <input class="form-control " id="name" name="name" type="text" pattern="[a-zA-Z].{2,30}" autocomplete="on"
      placeholder="Enter your name..." required />
    <label for="name"><span class="text-danger">*</span> {% translate 'Name' %}:</label>
    <div class="invalid-feedback">
      {% translate 'Invalid' }: a-z A-Z max-30.
    </div>
  </div>

  <div class="form-floating mb-3">
    <input class="form-control" id="email" type="email" pattern=".{3,40}" name="email" autocomplete="on"
      placeholder="name@example.com" required />
    <label for="email"><span class="text-danger">*</span> {% translate 'Email' %}:</label>
    <div class="invalid-feedback">
      example@email.com max-40.
    </div>
  </div>
  <div class="form-floating mb-3">
    <input class="form-control" id="phone" name="phone_number" type="tel" autocomplete="on" pattern="[0-9].{5,30}"
      placeholder="123 456-7890" />
    <label for="phone">&nbsp {% translate 'Phone' %}:</label>
    <div class="invalid-feedback">
      {% translate 'Only numbers' %} (0-9).
    </div>
  </div>

  <div class="form-floating mb-2">
    <textarea class="form-control" id="message" pattern=".{10,500}" oncopy="return false" onpaste="return false"
      autocomplete="off" name="message" type="text" placeholder="Enter your message here..." required></textarea>
    <label id="messageLabel" for="message"></label>
    <div class="invalid-feedback">
      min-10 max-500.
    </div>
  </div>
  <div class="form-floating mb-3 file">
    <input class="form-control" id="file" name="file" type="file" accept=".png, .jpg, .jpeg, .heic, .hevic, .gif" />
    <label class="mt-1" for="file"><span class="h1 mt-1"><i class="fas fa-camera"></i></span></label>
  </div>
  <div id="age" class="col-12 mb-4 d-none">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
      <label class="form-check-label ms-2" for="invalidCheck">
        {% translate 'Are you over 16' %} ?
      </label>
    </div>
  </div>
  <div class="col-12 mb-4">
    <button class="btn w-100" id="#submits" type="submit" name="submit_button">{% translate "Submit" %}</button>
  </div>
</form>


<script>
  const getSubject = (subject) => {
    const messageLabel = document.getElementById('messageLabel')
    const contactHeading = document.getElementById('contact-heading');

    document.getElementById('subject').value = subject
    document.getElementById('complaints').classList.toggle('d-none')
    document.getElementById('inquiries').classList.toggle('d-none')
    document.getElementById('age').classList.toggle('d-none');
    document.getElementById('invalidCheck').required = subject === 'inquiry' ? false : true;

    if (subject == null || subject === 'inquiry') {
      messageLabel.innerHTML = `<span class="text-danger">*</span> {% translate 'Message: (image references, black or with color, size and place)' %}`;
      contactHeading.innerHTML = `{% translate "Inquiries" %}`
      
    } else {
      messageLabel.innerHTML = `<span class="text-danger">*</span> {% translate 'Message | Beskjed' %}: `;
      contactHeading.innerHTML = `{% translate "Complaints" %}`
    }
  }
  getSubject()
</script>