{% if LANGUAGE_CODE == 'en' %}
<article class="text-light px-3 px-sm-4 rounded-3 gradient-card d-block d-sm-flex justify-content-between">
  <div>
    <h4>Contact:</h4>
    <ul>
      <li><i class="fa-solid fa-phone"></i> +47 925 00 819</li>
      <li><i class="fa-solid fa-at"></i> 	info@andrejstattoo.no</li>
      <li><i class="fa-solid fa-location-dot"></i> Fetveien 467, 1900 Fetsund, Norge</li>
    </ul>
  </div>
  <div>
    <h4>Opening hours:</h4>
    <ul>
      <li>◉ Monday - Friday: 9:00 - 17:00</li>
      <li>◉ Saturday: 10:00 - 16:00</li>
      <li>◉ Sunday: 12:00 - 15:00</li>
    </ul>
  </div>
</article>
{% else %}
<article class="text-light px-3 px-sm-4 rounded-3 gradient-card d-block d-sm-flex justify-content-between">
  <div>
    <h4>Kontakt:</h4>
    <ul>
      <li><i class="fa-solid fa-phone"></i> +47 925 00 819</li>
      <li><i class="fa-solid fa-at"></i> 	info@andrejstattoo.no</li>
      <li><i class="fa-solid fa-location-dot"></i> Fetveien 467, 1900 Fetsund, Norge</li>
    </ul>
  </div>
  <div>
    <h4>Åpningstider:</h4>
    <ul>
      <li>◉ Mandag – fredag: 9:00 – 17:00</li>
      <li>◉ Lørdag: 10:00 - 16:00</li>
      <li>◉ Søndag: 12:00 - 15:00</li>
    </ul>
  </div>
</article>
{% endif %}
