{% if LANGUAGE_CODE == 'en' %}
<article class="open text-light gradient-card mt-3">
  <div class="mt-2">
      <span>◉ Monday - Friday: 9:00 - 17:00</span><br>
      <span>◉ Saturday: 10:00 - 16:00</span><br>
      <span>◉ Sunday: 12:00 - 15:00</span>
  </div>
</article>
{% else %}
<article class="open text-light gradient-card mt-4">
  <div class="mt-2">
      <span>◉ Mandag – fredag: 9:00 – 17:00</span><br>
      <span>◉ Lørdag: 10:00 - 16:00</span><br>
      <span>◉ Søndag: 12:00 - 15:00</span>
  </div>
</article>
{% endif %}
