{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<div class="nav-menu-items d-flex flex-column gap-2 mt-4">
    <a class="nav-link-premium" href="{% url 'home' %}">
        <i class="bi bi-house"></i>
        <span>{% translate "Home" %}</span>
    </a>
    <a class="nav-link-premium" href="{% url 'about' %}">
        <i class="bi bi-people"></i>
        <span>{% translate "About Us" %}</span>
    </a>
    <a class="nav-link-premium" href="{% url 'artist' %}">
        <i class="bi bi-images"></i>
        <span>{% translate "Gallery" %}</span>
    </a>
    {% if LANGUAGE_CODE == 'no' %}
    <a class="nav-link-premium" href="{% url 'page' 'priser' %}">
        <i class="bi bi-tag"></i>
        <span>{% translate "Prices" %}</span>
    </a>
    <a class="nav-link-premium" href="{% url 'page' 'ettervern' %}">
        <i class="bi bi-heart"></i>
        <span>{% translate "Aftercare" %}</span>
    </a>
    {% else %}
    <a class="nav-link-premium" href="{% url 'page' 'prices' %}">
        <i class="bi bi-tag"></i>
        <span>{% translate "Prices" %}</span>
    </a>
    <a class="nav-link-premium" href="{% url 'page' 'aftercare' %}">
        <i class="bi bi-heart"></i>
        <span>{% translate "Aftercare" %}</span>
    </a>
    {% endif %}
    <a class="nav-link-premium" href="{% url 'page' 'faq' %}">
        <i class="bi bi-question-circle"></i>
        <span>{% translate "FAQ" %}</span>
    </a>
</div>