{% load i18n %}
{% if LANGUAGE_CODE == 'en' %}
    <a class="btn _button" href="{% url 'home' %}"><span><i class="fa-solid fa-house"></i>&nbspHome</span></a>
    <a class="btn _button" href="{% url 'about' %}"><span><i class="fa-solid fa-user-group"></i>&nbspAbout Us</span></a>
    <a class="btn _button" href="{% url 'artist' %}"><span><i class="fa-solid fa-images"></i>&nbspGallery</span></a>
    <a class="btn _button" href="{% url 'page' 'prices' %}"><span><i class="fa-solid fa-money-check"></i>&nbspPrices</span></a>
    <a class="btn _button" href="{% url 'page' 'aftercare' %}"><span><i class="fa-solid fa-hand-holding-hand"></i>&nbspAftercare</span></a>
    <a class="btn _button" href="{% url 'page' 'faq' %}"><span><i class="fa-solid fa-question"></i>&nbspFAQ</span></a>
{% else %}
    <a class="btn _button" href="{% url 'home' %}"><span><i class="fa-solid fa-house"></i>&nbspHjem</span></a>
    <a class="btn _button" href="{% url 'about' %}"><span><i class="fa-solid fa-user-group"></i>&nbspOm oss</span></a>
    <a class="btn _button" href="{% url 'artist' %}"><span><i class="fa-solid fa-images"></i>&nbspGalleri</span></a>
    <a class="btn _button" href="{% url 'page' 'priser' %}"><span><i class="fa-solid fa-money-check"></i>&nbspPriser</span></a>
    <a class="btn _button" href="{% url 'page' 'ettervern' %}"><span><i class="fa-solid fa-hand-holding-hand"></i>&nbspEttervern</span></a>
    <a class="btn _button" href="{% url 'page' 'faq' %}"><span><i class="fa-solid fa-question"></i>&nbspFAQ</span></a>
{% endif %}