<footer class="custom-site-footer">
    <div class="footer-left">
        {% if LANGUAGE_CODE == 'en' %}
            <small class="small text-muted">&copy; Andrejs Tattoo 2026 | Powered by <a href="https://getgso.com/" target="_blank" class="gso-footer-link">GSO</a></small>
        {% elif LANGUAGE_CODE == 'no' %}
            <small class="small text-muted">&copy; Andrejs Tattoo 2026 | Utviklet av <a href="https://getgso.com/" target="_blank" class="gso-footer-link">GSO</a></small>
        {% endif %}
    </div>
    <div class="footer-right">
        {% if LANGUAGE_CODE == 'en' %}
            <a
                href="{% url 'page' 'privacy-policy' %}"
                data-bs-toggle="tooltip"
                data-bs-placement="left"
                title="Privacy Policy"
                class="text-muted text-decoration-underline d-flex align-items-center justify-content-center"
            >
                <small>Privacy Policy</small>
            </a>
        {% elif LANGUAGE_CODE == 'no' %}
            <a
                href="{% url 'page' 'personvern' %}"
                data-bs-toggle="tooltip"
                data-bs-placement="left"
                title="Personvern"
                class="text-muted text-decoration-underline d-flex align-items-center justify-content-center"
            >
                <small>Personvern</small>
            </a>
        {% endif %}
    </div>
</footer>
