<div class="social d-flex flex-row align-self-center justify-content-between">

    <a data-bs-toggle="offcanvas" href="#contact" role="button" aria-controls="contact" data-bs-toggle="tooltip"
        data-bs-placement="top" title="Contact Us"><i class="far fa-envelope"></i></a>
    <a href="tel:+4746253760"><i class="fas fa-phone" data-bs-toggle="tooltip" data-bs-placement="top"
            title="Call +4746253760"></i></a>
    <a href="{% url 'map' %}" title="Location"><i class="fas fa-street-view"></i></a>
    <a href="https://www.facebook.com/tattoostudiokunst/" title="Facebook" target="blank" rel="noopener noreferrer"><i
            class="fab fa-facebook"></i></a>
    <a href="https://www.instagram.com/tattooskworkshop/" title="Instagram" target="blank" rel="noopener noreferrer"><i
            class="fab fa-instagram"></i></a>
</div>