<div class="about-body-inner">
  <div class="row g-0">

    {# Image carousel column #}
    <div class="col-12 col-lg-6 {% if section.title_en == 'About andrej' %}order-lg-2{% endif %} about-media-col lazy-element">
      {% include 'includes/about_carousel.html' with obj=images %}
    </div>

    {# Text column #}
    <div class="col-12 col-lg-6 {% if section.title_en == 'About andrej' %}order-lg-1{% endif %} about-text-col">
      <div class="about-text-inner">
        {% for article in articles %}
        <article class="about-article">
          <h2 class="about-article-subtitle">{{ article.subtitle }}</h2>
          <div class="about-article-body">{{ article.body|safe }}</div>
        </article>
        {% endfor %}

        {% if section.title_en == 'About studio' %}
        <div class="about-studio-extras">
          {% include 'includes/social.html' %}
          {% include 'includes/hours_card.html' %}
        </div>
        {% endif %}
      </div>
    </div>

  </div>
</div>
