{% load i18n %}
{% load thumbnail %}

<section class="row my-4 my-sm-5">
    <div class="col-12 col-xl-6 position-relative padding-0">
        <div id="carouselExampleControls" class="carousel slide carousel-fade d-flex justify-content-center align-items-center" data-bs-ride="carousel">


            <div class="carousel-inner">
                {% load static %}


                {% for item in shop %}

                <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}"
                    id="slide{{ forloop.counter }}">

                    {% if item.image %}

                    {% thumbnail item.image "1200x800" as im %}
                        <img class='d-block' src="{{ im.url }}" alt="{{ image.name }}">
                    {% endthumbnail %}
                    
                    {% endif %}

                    <div class="carousel-caption d-none d-md-block">

                    </div>
                </div>

                {% endfor %}



            </div>
        </div>


    </div>

    <div class="col-12 col-xl-6 d-flex text_container">
        <div class="my-auto px-3 ps-sm-4 text-white">
            <div class="me-auto">
                {% get_current_language as LANGUAGE_CODE %}

                <h2 class="text-uppercase">Tattoo SK Workshop</h2>
                {% if LANGUAGE_CODE == "en" %}
                <h3 class="text-light">The Studio</h3>
                <p>
                    Warm, cosy tattoo studio. To keep the privacy between clients Every artists has separate room.
                    Studio has chill area and friendly atmosphere.
                </p>
                <p>
                    The Tattoo studio located 25 minutes from Oslo. Free parking place available.
                    Feel free to Contact us for more information or fill our contact form!
                </p>

                <h3 class="text-light">
                    Contact us
                </h3>
                {% else %}
                <h3 class="text-light">Tatoveringsstudioet</h3>

                <p>
                    Her skal du føle deg velkommen! Koselig tatoveringsstudio, med en avslappende og vennlig atmosfære.
                    Våre artister har hvert sitt rom, for å beholde privatlivet mellom dere klienter.
                </p>
                <p>

                    Tattoo studioet ligger 25 minutter fra Oslo. Gratis parkeringsplass tilgjengelig rett utenfor døren.
                    Kontakt oss gjerne for mer informasjon eller fyll ut vårt kontaktskjema!
                </p>

                <h3 class="text-light">
                    Kontakt oss
                </h3>
                {% endif %}


            </div>
            <div>
                <span>Adresse: Fetveien 467, 1900 Fetsund, Norge</span>
                </br>
                <span>Email: info@tattooskworkshop.no</span>
                </br>
                <span>Mobil tlf: +4746253760</span>
                <br>
            </div>
            {% include 'includes/social.html' %}
        </div>
    </div>
</section>