{% load i18n %}
{% load thumbnail %}

<section class="row mb-4 mb-sm-5">
    <div class="col-12 col-xl-6 position-relative padding-0">
        <div id="carouselExampleControls" class="carousel slide carousel-fade d-flex justify-content-center align-items-center" data-bs-ride="carousel">

            <div class="carousel-inner">
                {% load static %}

                {% for item in studio %}
                <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}"
                    id="slide{{ forloop.counter }}">

                    {% if item.image %}

                    {% thumbnail item.image "1200x800" as im %}
                        <img class='d-block rounded-3' src="{{ im.url }}" alt="{{ image.name }}">
                    {% endthumbnail %}
                    
                    {% endif %}

                    <div class="carousel-caption d-none d-md-block">

                    </div>
                </div>

                {% endfor %}

            </div>
        </div>


    </div>

    <div class="col-12 col-xl-6 d-flex text_container rounded-3">
        <div class="my-auto px-3 ps-sm-4 text-white">
            <div class="me-auto">
                {% get_current_language as LANGUAGE_CODE %}

                <h2 class="text-uppercase text-light fw-light">{% translate 'Tattoo SK Workshop' %}</h2>
                <h3 class="text-light fw-normal">{% translate 'The Studio' %}</h3>
                <p>
                    {% blocktranslate trimmed %}Warm, cosy tattoo studio. To keep the privacy between clients Every artists has separate room.
                    Studio has chill area and friendly atmosphere.{% endblocktranslate %}
                </p>
                <p>
                    {% blocktranslate trimmed %}The Tattoo studio located 25 minutes from Oslo. Free parking place available.
                    Feel free to Contact us for more information or fill our contact form!{% endblocktranslate %}
                </p>
                <h3 class="text-light fw-normal">
                    {% translate 'Contact us' %}
                </h3>
            </div>
            <div>
                <span>Mobil tlf: +4746253760</span></br>
                <span>Email: info@tattooskworkshop.no</span></br>
                <span>Adresse: Fetveien 467, 1900 Fetsund, Norge</span>
            </div>
            {% include 'includes/social.html' %}
        </div>
    </div>
</section>