{% load i18n %}
{% load thumbnail %}
<section class="row my-4 my-sm-5">
    <div class="col-12 col-xl-6 d-flex justify-content-center align-items-center text_container order-1 order-xl-0">

        {% get_current_language as LANGUAGE_CODE %}
        <div class="text-white px-3 px-sm-4 me-auto">
            <h2 class="text-uppercase text-light fw-light">Andrej</h2>
            {% if LANGUAGE_CODE == "en" %}

            <h3 class="text-light fw-normal">
                Founder of the tattoo studio.
            </h3>
            <p>
                I'm working as a tattoo artist for many years.
                Specializing in black & grey realism, colour realism, abstract black & grey.
                Old, Faded tattoo cover-up. Body mark and scar cover-up.
            </p>

            <p>
                I.m Passionate about art and I always want to create something out of imagination.I have successful
                completed/graduated art, design School and number of intensive Tattoo related courses.
            </p>
            <a class="btn" href="{% url 'artist' 'andrej' %}">My Work</a>

            <h3 class="text-light fw-normal">
                The Art Studio Unidecor
            </h3>
            <p>
                I also do art. I draw paintings with oil and acrylic. Create a bas-relief by sculpting for interior and
                exterior. Bas-relief means a 3D volumetric drawing made on the wall or also on a special canvas. You can
                check out my art gallery on <a class="text-danger text-capitalize text-decoration-underline"
                    href="https://instagram.com/andrejsbaranovs_oslo?igshid=YmMyMTA2M2Y=" target="blank"
                    rel='noopener noreferrer'> Instagram
                </a> and <a class="text-danger text-capitalize text-decoration-underline"
                    href="https://www.andrejsbaranovs.com" target="blank" rel='noopener noreferrer'>Website</a>
            </p>

            {% else %}

            <h3 class="text-light fw-normal">
                Grunnlegger av tatoveringsstudioet
            </h3>

            <p>Jeg har jobbet som tatovør i mange år. Komfortabel med enhver realistisk eller abstrakt
                stil. Spesialiserer mer på svart og grå realisme, fargerealisme, abstrakt svart og grått. Gammel, falmet
                tatoveringsdekning. Kroppsmerke og dekking av arr.</p>

            <p>Lidenskapelig opptatt av kunst og jeg har alltid ønske å skape noe ut fra fantasi. Jeg er
                uteksaminert kunst, designskole og en rekke intensive tatoveringsrelaterte kurs.</p>
            <a class="btn" href="{% url 'artist' 'andrej' %}">Mitt galleri</a>

            <h3 class="text-light fw-normal">
                The Art Studio Unidecor
            </h3>

            <p>Jeg driver også med kunst. Jeg tegner malerier med olje og akryl. Lag et bas-relieff ved å
                skulpturere for interiør og eksteriør. Bas-relief betyr en 3D volumetrisk tegning laget på veggen eller
                også på et spesielt lerret. Dere kan sjekke mitt art galleri på <a
                    class="text-danger text-capitalize text-decoration-underline"
                    href="https://instagram.com/andrejsbaranovs_oslo?igshid=YmMyMTA2M2Y=" target="blank"
                    rel='noopener noreferrer'> Instagram
                </a> and <a class="text-danger text-capitalize text-decoration-underline"
                    href="https://www.andrejsbaranovs.com" target="blank" rel='noopener noreferrer'>Nettside</a>
            </p>

            {% endif %}
        </div>
    </div>

    <div class="col-12 col-xl-6 position-relative padding-0">
        <div id="carousel3" class="carousel slide carousel-fade d-flex justify-content-center align-items-center"
            data-bs-ride="carousel">

            <div class="carousel-inner">

                <div class="carousel-inner">

                    {% for item in andrej %}

                    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}"
                        id="slide{{ forloop.counter }}">
                        {% if item.image %}

                        {% thumbnail item.image "1200x800" as im %}
                        <img class='d-block' src="{{ im.url }}" alt="{{ image.name }}">
                        {% endthumbnail %}

                        {% endif %}
                        <div class="carousel-caption d-none d-md-block">

                        </div>
                    </div>

                    {% endfor %}

                </div>
            </div>
        </div>

    </div>
</section>