{% load i18n %}
{% load thumbnail %}
<section class="row my-4 my-sm-5">
    <div class="col-12 col-xl-6 d-flex justify-content-center align-items-center text_container order-1 order-xl-0">

        {% get_current_language as LANGUAGE_CODE %}
        <div class="text-white px-3 px-sm-4 me-auto">
            <h2 class="text-uppercase text-light fw-light">Andrej</h2>
            <h3 class="text-light fw-normal">
                {% translate 'Founder of the tattoo studio.' %}
            </h3>
            <p>
                {% blocktranslate trimmed %}I'm working as a tattoo artist for many years.
                Specializing in black & grey realism, colour realism, abstract black & grey.
                Old, Faded tattoo cover-up. Body mark and scar cover-up.{% endblocktranslate %}
            </p>

            <p>
                {% blocktranslate trimmed %}I.m Passionate about art and I always want to create something out of imagination.I have successful
                completed/graduated art, design School and number of intensive Tattoo related courses.{% endblocktranslate %}
            </p>
            <a class="btn" href="{% url 'artist' 'andrej' %}">{% translate 'My Work' %}</a>

            <h3 class="text-light fw-normal">
                {% translate 'The Art Studio' %}
            </h3>
            <p>
                {% blocktranslate trimmed %}I also do art. I draw paintings with oil and acrylic. Create a bas-relief by sculpting for interior and
                exterior. Bas-relief means a 3D volumetric drawing made on the wall or also on a special canvas. You can
                check out my art gallery on{% endblocktranslate %} <a class="text-danger text-capitalize text-decoration-underline"
                    href="https://instagram.com/andrejsbaranovs_oslo?igshid=YmMyMTA2M2Y=" target="blank"
                    rel='noopener noreferrer'> Instagram
                </a> and <a class="text-danger text-capitalize text-decoration-underline"
                    href="https://www.andrejsbaranovs.com" target="blank" rel='noopener noreferrer'>{% translate 'Website' %}</a>.
            </p>

            
        </div>
    </div>

    <div class="col-12 col-xl-6 position-relative padding-0">
        <div id="carousel3" class="carousel slide carousel-fade d-flex justify-content-center align-items-center"
            data-bs-ride="carousel">

            <div class="carousel-inner">

                <div class="carousel-inner">

                    {% for item in andrej %}

                    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}"
                        id="slide{{ forloop.counter }}">
                        {% if item.image %}

                        {% thumbnail item.image "1200x800" as im %}
                        <img class='d-block' src="{{ im.url }}" alt="{{ image.name }}">
                        {% endthumbnail %}

                        {% endif %}
                        <div class="carousel-caption d-none d-md-block">

                        </div>
                    </div>

                    {% endfor %}

                </div>
            </div>
        </div>

    </div>
</section>