{% load i18n %}
{% load thumbnail %}
<div class="row gradient-underline">

    <div class="col-12 col-lg-6 position-relative padding-0">
        <div id="carousel1" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for item in diana %}

                <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}"
                    id="slide{{ forloop.counter }}">
                        {% if item.image %}

						{% thumbnail item.image "600x400" as im %}
							<img class='d-block w-100' src="{{ im.url }}" alt="{{ image.name }}">
						{% endthumbnail %}
                    
						{% endif %}
                    <div class="carousel-caption d-none d-md-block">

                    </div>
                </div>

                {% endfor %}
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center">
        <div class="text-light p-0 p-2 me-auto">
            <h2>Diana</h2>
		{% get_current_language as LANGUAGE_CODE %}
			{% if LANGUAGE_CODE == "en" %}
            
                <span class="fw-bold text-white">
                 Junior artist at Tattoo SK Workshop..
                </span> <br>
			<p class="font">
                I'm working with graphic and line work. Also lettering and minimalistic
                tattoos. I'm being trained in realisme.
            </p>
            <p class="font">
                I'm specializing in design and professional digital art..
                I will help you to find the best tatto ideas and create Tattoo Sketch for you.
            </p>
            <a class="btn mb-2" href="{% url 'artist' 'diana' %}">My Gallery</a>
			{% else %}
			
                <span class="fw-bold text-white">
                 Juniorartist på Tattoo SK Workshop.
                </span> <br>
				<p class="font">Jeg jobber med grafisk og linjearbeid. Gjør også bokstaver og minimalistiske tatoveringer. Jeg blir for tiden opplært også i realisme. </p>
                 
            
            <p class="font">
                Jeg er en lidenskapelig kunstner og designer, spesialiserer meg på design og profesjonell digital kunst. Jeg vil hjelpe deg med å finne de beste tatoveringsideene og lage tatoveringsskisse som passer perfekt til akkurat deg.
            </p>
            <a class="btn mb-2" href="{% url 'artist' 'diana' %}">Mitt galleri</a>
			{% endif %}
        </div>
    </div>
</div>
