{% load i18n %}
{% load thumbnail %}
<section class="row my-4 my-sm-5">
    <div class="col-12 col-lg-6 position-relative padding-0">
        <div id="carousel2" class="carousel slide carousel-fade d-flex justify-content-center align-items-center"
            data-bs-ride="carousel">

            <div class="carousel-inner">

                {% for item in jane %}

                <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}"
                    id="slide{{ forloop.counter }}">
                    {% if item.image %}

                    {% thumbnail item.image "1200x800" as im %}
                    <img class='d-block rounded-3' src="{{ im.url }}" alt="{{ image.name }}">
                    {% endthumbnail %}

                    {% endif %}
                    <div class="carousel-caption d-none d-md-block">

                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center order-1 rounded-3 order-lg-0 text_container">
        <div class="text-white px-3 px-sm-4 me-auto">
            <h2 class="text-uppercase text-light fw-light">Jane</h2>

            {% get_current_language as LANGUAGE_CODE %}
            <h3 class="text-light fw-normal text-capitalize">
                {% translate 'Administrator / Manager' %}
            </h3>
            <p>
                {% blocktranslate trimmed %}My Job is to ensure smooth-running of a business in the process of bookings,
                as well as running through the steps to give an effective client consultation.{% endblocktranslate %}
            </p>
            <p>
                {% blocktranslate trimmed %}I love tattoos and tattooed people that really stand out.{% endblocktranslate %}
            </p>
        </div>
    </div>

</section>