{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load thumbnail %}

{% block extra_title %}
{% if object.artist == 'andrej'|lower %}
"{% blocktranslate with name=object.name  trimmed %}Tattoo SK Workshop Fetsund - Tattoo  {{ name }} done by tattoo artist Andjejs Baranovs {% endblocktranslate %}"
{% else %}
"{% blocktranslate with name=object.name trimmed %}Tattoo SK Workshop Fetsund - {{ name }} | Tattoo studio for best quality tattoos {% endblocktranslate %}"
{% endif %}
{% endblock %}

{% block extra_meta %}
{% if object.artist == 'andrej'|lower %}
<meta name="description" content="{% blocktranslate with name=object.name trimmed %}Best Quality Tattoos like {{ name }} in Fetsund. Tattoo artist Andjejs Baranovs.{% endblocktranslate %}">
{% else %}
<meta name="description"
  content="{% blocktranslate trimmed %}Ready to be different and unique? ANDREJS TATTOO Workshop is the best tattoo studio in Fetsund. We offer the best quality tattoos.{% endblocktranslate %}">
{% endif %}
{% endblock %}

{% block nav %}
<a href="{{ object.artist.get_absolute_url }}" aria-label="Return back to {{object.artist.name}} Gallery"><i class="fa-solid fa-reply-all"></i></a>
{% endblock %}

{% block content %}
<main id="swapable" class="overflow-hidden vh-100 position-realative" hx-swap="innerHTML swap:200ms settle:200ms">
    {% include 'includes/album_detail_item.html' %}
</main>
{% endblock %}