{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load thumbnail %}

{% block extra_title %} {{artist.name|title}} {% blocktranslate %}Gallery - Tattoo SK Workshop | Custom tattoo Fetsund {% endblocktranslate %}{% endblock %}

{% block extra_meta %}
{% if artist.name == 'andrej'|lower %}
<meta name="description" content="{% blocktranslate %}Andrej's gallery of tattoos. Tattoo artist in Fetsund, Norway. We can work together to create a unique Tattoo tattoo design for you.{% endblocktranslate %}">
{% else %}
<meta name="description" content="{{artist.name|title}} {% blocktranslate trimmed %}Gallery - We are a tattoo studio in Fetsund, Norway. We do all kinds of tattoos, from small to large. We are located in Fetsund Fetveien.{% endblocktranslate %}">
{% endif %}
{% endblock %}

{% block nav %}
<a href="{{request.META.HTTP_REFERER}}"><i class="fas fa-chevron-left"></i></a>
{% endblock %}

{% block content %}
<div class="page_container py-3 py-sm-4 pt-md-5 d-flex flex-column justify-content-center align-items-center">
    <div class="album row mx-2 mx-sm-3 mx-md-4 g-3 g-sm-4 g-md-5 justify-content-center">
        {% for item in album reversed %}
        <div class="col-6 col-xl-4 col-xxl-3">
            <div class="card fade rounded-3 h-100 mx-2 mx-sm-3 mx-md-4 g-dark">
                <div class="card-body bg-dark p-0">
                    {% if item.image %}
                    <picture>
                        <source srcset="{% thumbnail item.image "400x600" crop="center" format="WEBP" as img %}{{ img.url }} {% endthumbnail %} 600w, 
                        {% thumbnail item.image "600x900" crop="center" format="WEBP" as img %}{{ img.url }}{% endthumbnail %} 900w,
                        {% thumbnail item.image "800x1200" crop="center" format="WEBP" as img %}{{ img.url }}{% endthumbnail %} 1200w" type="image/webp">
                        <img class="card-img img-fluid rounded-3" src="{% thumbnail item.image "600x900" crop="center" format="WEBP" as img %}{{ img.url }} {% endthumbnail %}" alt="{{ image.name }} image">
                    </picture>
                    <div class="gradient-overlay">
                        <a href="{{ item.get_absolute_url }}">
                            <div class="card-img-overlay p-2 text-left rounded-3">
                                <h3 class="m-0 fs-6 text-capitalize fw-lighter">{{ item.artist }}</h3>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}