{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load thumbnail %}


{% block extra_title %}
{% if item.artist == 'andrej'|lower %}
"{% blocktranslate with name=item.name  trimmed %}Tattoo SK Workshop Fetsund - Tattoo  {{ name }} done by tattoo artist Andjejs Baranovs {% endblocktranslate %}"
{% else %}
"{% blocktranslate with name=item.name trimmed %}Tattoo SK Workshop Fetsund - {{ name }} | Tattoo studio for best quality tattoos {% endblocktranslate %}"
{% endif %}
{% endblock %}

{% block extra_meta %}
{% if item.artist == 'andrej'|lower %}
<meta name="description" content="{% blocktranslate with name=item.name trimmed %}Best Quality Tattoos like {{ name }} in Fetsund. Tattoo artist Andjejs Baranovs.{% endblocktranslate %}">
{% else %}
<meta name="description" content="{% blocktranslate trimmed %}Ready to be different and unique? Tattoo SK Workshop is the best tattoo studio in Fetsund. We offer the best quality tattoos.{% endblocktranslate %}">
{% endif %}
{% endblock %}

{% block nav %}
<a href="{{request.META.HTTP_REFERER}}"><i class="fas fa-chevron-left"></i></a>
{% endblock %}
{% block content %}

<main class="overflow-hidden">
    <div id="carousel2" class="carousel slide carousel-fade" data-bs-wrap="false" data-bs-touch="false">
        <div class="carousel-inner-gallery">
            <div class="zoom">
            {% for item in album %}
            <div class="carousel-item carousel-item-gallery {% if item.id == item_id %}active{% endif %}"
            id="slide{{ forloop.counter }}">
            {% if item.image %}
                <picture class=" picture__container">
                    {% if item.image|is_portrait %}
                    <source srcset="{% thumbnail item.image "x1920" format="WEBP" as im %} {{ im.url }} {% endthumbnail %} 1920w, {% thumbnail item.image "x2500" format="WEBP" as im %} {{ im.url }} {% endthumbnail %} 2500w" type="image/webp">
                    {% else %}
                    <source srcset="{% thumbnail item.image "1920" format="WEBP" as im %} {{ im.url }} {% endthumbnail %} 1920w, {% thumbnail item.image "2500" format="WEBP" as im %} {{ im.url }} {% endthumbnail %} 2500w" type="image/webp">
                    {% endif %}
                    <img src="{{ item.image.url }}" alt="{{ item.name }} Image">
                </picture>
                {% endif %}
            </div>
            {% endfor %}
        </div>    
    </div>
</div>

{% comment %} <div class="viewer position-absolute top-50 start-50">

</div> {% endcomment %}

    <button class="carousel-control-prev" type="button" data-bs-target="#carousel2" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel2" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

</main>
{% endblock %}

{% block extra_js %}
<script defer src="{% static 'js/zoom.js' %}"></script>
{% endblock %}