{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% block nav %}
<a href="{{request.META.HTTP_REFERER}}"><i class="fas fa-chevron-left"></i></a>
{% endblock %}
{% block content %}

<main class="overflow-hidden">

    <div id="carousel2" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <div class="carousel-inner-gallery">
            {% for item in album %}

            <div class="carousel-item carousel-item-gallery {% if item.id == item_id %}active{% endif %}"
                id="slide{{ forloop.counter }}">

                {% if item.image %}
                <picture class="w-100 h-100">
                    {% thumbnail item.image "800x1200" format="WEBP" as im %}
                    <source srcset="{{ im.url }}" type="image/webp">
                    {% endthumbnail %}
                    <source srcset="{{ item.image.url }}" type="image/jpeg">
                    <img class="image-fluid mx-auto d-block" src="{{ item.image.url }}" alt="{{ item.name }}">
                </picture>
                {% endif %}

            </div>
            {% endfor %}

        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carousel2" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel2" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

</main>
{% endblock %}