{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load thumbnail %}
{% block extra_meta %}
<meta name="description" content="{% blocktranslate trimmed %}Tattoo gallery Tattoo SK Workshop: Check Out tattoo work by our artis Andrej{% endblocktranslate %}">
{% endblock %}
{% block extra_title %}{% translate "Gallery" %}{% endblock %}
{% block nav %}
<a href="{{request.META.HTTP_REFERER}}"><i class="fas fa-chevron-left"></i></a>
{% endblock %}
{% block content %}

<main class="page_container pb-4">

    <div class="row">
        <div class="col text-center ">
            <h1 class="text-light h1 text-uppercase display-3">{% translate "Gallery" %}</h1>
        </div>
    </div>

    <div class="mx-auto sellect row mx-0 mx-sm-2 justify-content-center">
        {% for item in artists %}
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3">
            <div class="card rounded-3 h-100 mx-sm-2 mx-0 g-dark">
					
                <div class="card-body bg-dark text-white p-0">

                    {% if item.image %}
                    <picture>
                        {% thumbnail item.image "800x1200" format="WEBP" as im %}
                        <source srcset="{{ im.url }}" type="image/webp">
                        {% endthumbnail %}
                        {% thumbnail item.image "800x1200" format="JPEG" as im %}
                        <source srcset="{{ im.url }}" type="image/jpeg">
                        <img class="card-img img-fluid rounded-3" src="{{ im.url }}" alt="{{ image.name }}">
                        {% endthumbnail %}
                    </picture>
                    {% endif %}

                    <a href="{% url 'artist' item.name %}">
                        <div class="card-img-overlay rounded-3 text-left">
                            <div class="row">
                                <div class="col">
                                    <h2 class="mb-0 text-capitalize fw-normal">{{ item.name }}</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</main>
{% endblock %}