{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load thumbnail %}

{% block extra_title %} {% translate "Gallery - Tattoo SK Workshop | Your Choice for the best tattoos" %}{% endblock %}
{% block extra_meta %}
<meta name="description" content="{% blocktranslate trimmed %}A tattoo is the New Addiction, Check out our Gallery and see the Work of our Tattoo Artist Andrejs Baranovs, tattoo studio and tattoo convention.{% endblocktranslate %}">
{% endblock %}

{% block nav %}
<a href="{{request.META.HTTP_REFERER}}"><i class="fas fa-chevron-left"></i></a>
{% endblock %}
{% block content %}

<main class="page_container pb-4">

    <div class="row">
        <div class="col text-center ">
            <h1 class="text-light h1 text-uppercase display-3">{% translate "Gallery" %}</h1>
        </div>
    </div>

    <div class="mx-auto sellect row mx-0 mx-sm-2 justify-content-center">
        {% for item in artists %}
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3">
            <div class="card rounded-3 h-100 mx-sm-2 mx-0 g-dark">
                <div class="card-body bg-dark text-white p-0">
                    {% if item.image %}
                    <picture>
                        {% thumbnail item.image "600x900" format="WEBP" as im %}
                        <source srcset="{{ im.url }}" type="image/webp">
                        {% endthumbnail %}
                        
                        <source srcset="{{ item.image.url }}" type="image/jpeg">
                        <img class="card-img img-fluid rounded-3" src="{{ item.image.url }}" alt="Artist {{ image.name }} thumbnail">
                      
                    </picture>
                    <a href="{{ item.get_absolute_url }}">
                        <div class="card-img-overlay rounded-3 text-left">
                            <div class="row">
                                <div class="col">
                                    <h2 class="mb-0 text-capitalize fw-normal">{{ item.name }}</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</main>
{% endblock %}