{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load thumbnail %}
{% if LANGUAGE_CODE == "en" %}
	<meta name="description" content="Tattoo gallery Tattoo SK Workshop: Check Out tattoo work by our artis Andrej and Diana">
{% else %}

	<meta name="description" content="Tatoveringsgalleri Tattoo SK Workshop: Sjekk ut tatoveringsarbeid av våre kunstnere Andrej og Diana">
{% endif %}
{% block extra_title %}Gallery | {% endblock %}
{% block nav %}
<a href="{{request.META.HTTP_REFERER}}"><i class="fas fa-chevron-left"></i></a>
{% endblock %}
{% block content %}

<main class="page_container">

    <div class="row">
        <div class="col text-center ">
            <h1 class="text-light h1 text-uppercase">Album</h1>
        </div>
    </div>

    <div class="row mx-auto sellect">
        {% for item in artists reversed %}
        <div class="col-12 col-sm-8 col-md-4 m-4">
            <div class="card h-100 bg-dark">
					
                <div class="card-body bg-dark text-white p-0">

                    {% if item.image %}

						{% thumbnail item.image "800x1200" as im %}
							<img class="card-img img-fluid" src="{{ im.url }}" alt="{{ image.name }}">
						{% endthumbnail %}
                    
                    {% endif %}

                    <a href="{% url 'artist' item.name %}">
                        <div class="card-img-overlay text-left">
                            <div class="row">
                                <div class="col">
                                    <h2 class="mb-0 text-capitalize">{{ item.name }}</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</main>
{% endblock %}