{% extends "page_base.html" %}

{% block page_content %}
{% for section in sections %}

<div class="text_container px-3 px-sm-4 rounded-3 col-12 col-xl-10 col-xxl-8 mx-auto section-header mb-3 mb-sm-4">
    <h1 class="text-uppercase text-center text-light fw-light display-5 mb-2 clipped-text">
      {% if LANGUAGE_CODE == 'en' %}{{section.title}}{% else %}{{section.title_no}}{%endif%}
    </h1>
    <div class="gradient-line mb-4"></div>
    {% if not object.name == 'about' %}
    {% include 'includes/social.html' %}
    {% endif %}
</div>

{% with "includes/"|add:section.page.name|add:"_items.html" as template %}
<section hx-get="?name={{ section.id }}" hx-target="this" hx-trigger="load" hx-swap="innerHTML" class="col-12 mx-auto">
  {% include template %}
</section>
{% endwith %}

{% endfor %}
{% endblock %}
